<!DOCTYPE html>
<html lang="fr">
<head>
    <title>HELPDESK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('global/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('global/css/style.css') }}">
    <script src="{{ asset('global/js/jquery.js') }}"></script>
    <script src="{{ asset('global/js/bootstrap.js') }}"></script>
    <script>
        <!--
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        }

        window.onload = timedRefresh(120000);

        //   -->
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('index') }}">Home</a></li>
            <li><a href="#">Nouveauté</a></li>
            <li><a href="#">Vidéo Formation</a></li>
            <li><a href="{{ path('software') }}">Version logiciel</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1 data-toggle="modal" data-target="#myModal">HELPDESK</h1>
    <p>Portail de Connaissance</p>
</div>


{% block body %}

{% endblock %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Crédit</h4>
            </div>
            <div class="modal-body">
                <p>Chef Projet : JonathanCassara.fr</p>
                <p>Version : Avril 2017 : Update 13/04/2017</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>
